@import '~vue-mdc-adapter/dist/vue-mdc-adapter.css'
@import "~animate.css"

.mdc-layout-app--main-container
  background:  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);

.center-text
  text-align center

.main-content-loader
  height 100vh
  display flex
  align-items center
  justify-content center
  .main-loader
    width 40vw

.main-content
  margin 3.5em auto 0 auto
  .content
    width 80vw
    margin 0 auto


.album-item-card
  margin-bottom 1em